.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@font-face {
    font-family: "Hanken Grotesk";
    src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
  }

.results-component{
    font-family: "Hanken Grotesk", sans-serif;
    width: 640px;
    height: 440px;
    display: flex;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow:10px 10px 30px 10px rgb(242 245 254);

}

#results{
    /* background-image: linear-gradient(to bottom right, rgb(78 56 245), rgb(84 57 246)); */
    background-image: linear-gradient(to bottom right, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 20px;
    width: 50%;
    height: 100%;
    text-align: center;
    margin-right: 1%;
}

#results>h1{
    color: rgb(202 196 255)
}

#results>h2{
    color: white
}

#results>p{
    color: rgb(202 196 255);
    width: 70%;
    margin: auto;

}

p{
    color: white;
}

#summary{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#summary>h1{
    width: 80%;
    color: hsl(224, 30%, 27%)
}


#result-circle{
    border-radius: 50%;
    /* background-image: linear-gradient(to bottom right, rgb(74 35 204), rgb(70 51 237)); */
    background-image: linear-gradient(to bottom right, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;

}

#total-marks{
    color: white;
    font-size: 55px;
    font-weight: bold;
    margin: 0;
}

#out-of{
    color: rgb(134 120 255);
}

.summarytypes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50px;
    margin: 5px;
    border-radius: 8px;
}

.summarytype{
    width: 60%;
    font-weight: bold;
}

button{
    height: 40px;
    width: 80%;
    margin: auto;
    border-radius: 20px;
    border: none;
    background-color: rgb(48 59 89);
    color: white;
    cursor: pointer;
}


#reactionsummary{
    background-color: hsl(0, 100%, 67%, 0.1);
}
#reactionsummary>.summarytype{
    color: hsl(0, 100%, 67%);
}

#memorysummary{
    background-color: hsl(39, 100%, 56%, 0.1);
}
#memorysummary>.summarytype{
    color: hsl(39, 100%, 56%);
}

#verbalsummary{
    background-color: hsl(166, 100%, 37%, 0.1);
}
#verbalsummary>.summarytype{
    color: hsl(166, 100%, 37%);
}

#visualsummary{
    background-color: hsl(234, 85%, 45%, 0.1);
}
#visualsummary>.summarytype{
    color: hsl(234, 85%, 45%);
}


img{
    margin: 1%;
}
